@model SimpleShop.Application.Shop.Commands.Edit.EditShopCommand

@{
	ViewData["Title"] = "Edit";
}

<head>
	<meta charset="utf-8" />
	<script type="importmap"></script>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/SimpleShop.MVC.styles.css" asp-append-version="true" />
</head>

<h1>Edit shop</h1>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit" method="post">
			<input type="hidden" name="Id" value="@Model.Id" />
			<input type="hidden" name="IsEditable" value="true" />

			<div class="form-group mb-3">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="custom-label-input" />
				<span asp-validation-for="Name" class="text-danger validation-inline"></span>
			</div>
			<div class="form-group mb-3">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="custom-label-input" />
				<span asp-validation-for="Description" class="text-danger validation-inline"></span>
			</div>

			<h3>Assigned Products</h3>
			<table id="assignedProducts" class="custom-table">
				<thead>
					<tr>
						<th>Select</th>
						<th>Name</th>
						<th>Description</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
					@for (int i = 0; i < Model.AssignedShopProducts.Count; i++)
					{
						<tr>
							<input type="hidden" asp-for="AssignedShopProducts[@i].Id" />
							<input type="hidden" asp-for="AssignedShopProducts[@i].ProductId" />
							<input type="hidden" asp-for="AssignedShopProducts[@i].ShopId" />
							<input type="hidden" asp-for="AssignedShopProducts[@i].Name" />
							<input type="hidden" asp-for="AssignedShopProducts[@i].Description" />
							<input type="hidden" name="AssignedShopProducts[@i].IsSelected" value="false" />
							<td>
								<input type="checkbox" name="AssignedShopProducts[@i].IsSelected" class="form-check-input" />
							</td>
							<td>@Model.AssignedShopProducts[i].Name</td>
							<td>@Model.AssignedShopProducts[i].Description</td>
							<td>
								<input type="number" asp-for="AssignedShopProducts[@i].Price" class="custom-price-input" />
								<span asp-validation-for="AssignedShopProducts[@i].Price" class="text-danger validation-inline"></span>
							</td>
						</tr>
					}
				</tbody>
			</table>

			<div class="form-group mb-3">
				<button type="button" id="moveToAssign" class="custom-button">→ Assign</button>
				<button type="button" id="deleteFromAssign" class="custom-button">← Delete</button>
			</div>

			<h3>Add New Products</h3>
			<table id="availableProducts" class="custom-table">
				<thead>
					<tr>
						<th>Select</th>
						<th>Name</th>
						<th>Description</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
					@for (int i = 0; i < Model.AvailableShopProducts.Count; i++)
					{
						<tr>
							<input type="hidden" asp-for="AvailableShopProducts[@i].Id" />
							<input type="hidden" asp-for="AvailableShopProducts[@i].ProductId" />
							<input type="hidden" asp-for="AvailableShopProducts[@i].ShopId" />
							<input type="hidden" asp-for="AvailableShopProducts[@i].Name" />
							<input type="hidden" asp-for="AvailableShopProducts[@i].Description" />
							<input type="hidden" name="AvailableShopProducts[@i].IsSelected" value="false" />
							<td>
								<input type="checkbox" name="AvailableShopProducts[@i].IsSelected" class="form-check-input" />
							</td>
							<td>@Model.AvailableShopProducts[i].Name</td>
							<td>@Model.AvailableShopProducts[i].Description</td>
							<td>
								<input type="number" asp-for="AvailableShopProducts[@i].Price" class="custom-price-input" />
								<span asp-validation-for="AvailableShopProducts[@i].Price" class="text-danger validation-inline"></span>
							</td>
						</tr>
					}
				</tbody>
			</table>

			<div class="form-group mb-3">
				<input type="submit" value="Save" class="custom-button" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script src="~/js/moveProductScript.js"></script>
}